@import '../../colors';

.list {
	padding: 0.5rem 0;

	header {
		display: flex;
		flex-direction: row;
		padding: 0 0.5rem;
	}

	.list-header-name {
		flex: 1;
		color: $color-heading;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 600;
	}
}
